[Unit]
Description=Kinetik AI Backend Server
After=network.target

[Service]
Type=simple
User=subi
WorkingDirectory=/home/subi/code/food-tracker
ExecStart=/home/subi/code/food-tracker/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8420 --workers 1 --log-level info
Restart=always
RestartSec=5
EnvironmentFile=/home/subi/code/food-tracker/.env

[Install]
WantedBy=multi-user.target
